html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}

li a{
  display: inline-block;
  color: white;
  padding: 0 10px;
}

body {
  background-color:rgba(231, 242, 97, 0.87);
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0 auto;
  max-width: 1200px;
}

body>header {
  width: 100%;
  background-color: #fff;
}

header i {
  font-size: 1.3rem;
  padding: 1.3rem 0;
}

.date-container {
  height: 3.9rem;
  border-bottom: solid 1px #aaa;
  text-align: right;
}

.date {
  color: #aaa;
}

.fa-calendar :before {
  content: "\f073";
}

.title a {
  width:50%;
}

.header-menu {
  height: 5rem;
  background-color: #464773;
}

.header-menu ul {
  width: 80%;
  height: auto;
  display: flex;
}

.header-menu a{ /*真ん中に文字が来ない*/
  display: inline-block;
  height: 1.4rem;
  margin: 0 auto;
  font-size: 1.4rem;
  padding-top: 1.7rem;
  padding-bottom: 1.8rem;
  font-weight:bold ;
}

.header-menu a:hover {
  background-color: white;
  color: #464773;
}

.content {
  background-color: #fff;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 3rem;
}

.content-left {
  width: 70%;
  height: auto;
  display: inline-block;
  padding:0 1rem;
}

.content-right {
  width: 30%;
  height: auto;
  display: inline-block;
  padding:0 1rem;
}

.latest {
  width: 100%;
  height: auto;
}

.heading {
  border-bottom: solid 1px black;
  margin-bottom: 2rem;
}

.box h2{
  font-size: 1.6rem;
  color: white;
  background-color: #464773;
  display: inline-block;
  margin:0;
  padding: 0.2rem 1rem;
  text-align: center;
}

.latest-content {
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap:wrap ;
}

.topic-a{
  width: 50%;
  height: 36rem;
  display: flex;
  flex-wrap:wrap ;
}

.topic-a a{
  color: white;
}

.topic-b {
  width: 50%;
  height: 18rem;
}

.topic-b a{
  font-size: 1.4rem;
}

.topic1 {
  background-color: orange;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px black;
}

.topic1:hover {
  background-color: rgba(255,165,0,.5);
}

.topic2 {
  background-color: green;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}

.topic2:hover {
  background-color: rgba(0,128,0,.5);
}

.topic-item-main {
  position: absolute;
  width: 60%;
  left: 3rem;
  bottom: 2rem;
  transition: all .3s ease-in-out;
}

.topic-item-sub {
  position: absolute;
  width: 90%;
  left:1rem;
  bottom: 2rem;
}

.topic-category {
  width: 100%;
  float: left;
  margin-bottom: 3px;
}

.topic-category a{
  background-color: rgba(255,69,0,.6);
  display: inline-block;
  color:white;
  font-size: 1.3rem;
  padding:0.1rem 1rem;
  border-radius: 2px
}

.topic-category a:hover {
  background-color: rgba(255,69,0,1);
  font-weight: bold;
}

.topic-title a{
  font-size: 1.6rem;
  line-height: 2.7rem;
  font-weight: normal;
}

.topic2 .topic-title a {
  font-size: 1.5rem;
  font-weight: normal;
}

.add-comment a{
  font-size: 1.2rem;
  line-height: 2.2rem;
  margin-top: 5px;
}

.add-comment a:hover {
  border-bottom: solid 2px red;
}

.topic-content {/*これを動かす方法が分からない*/
  display: none;
  color: #fff;
  position: absolute;
  margin-top: 10px;
  z-index: 100;
  font-size: 1.3rem;
  line-height: 2.4rem;
  transition: opacity .3s ease-in-out;
}

.topic-item-sub h2 {
  margin: 0;
}

.topic-thumbnail-main {
  position: absolute;
  height: 0;
  width: 100%;
  height:36rem;
}

.topic-thumbnail-sub {
  position: absolute;
  height: 0;
  width: 100%;
  height: 18rem;
}

.new-lower{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap:wrap ;
}

.container {
  width: 50%;
  height: 10rem;/*適当に指定*/
  margin-bottom: 1.7rem;
  display: flex;
  z-index: 100;
}

.lower-left {
  width: calc(100% / 3);
  height: 100%;
  padding-right: 1rem;
}

.lower-left a:hover {

}

.lower-right {
  width: calc(100% * 2 / 3);
  height: 100%;
  padding-right: 3rem;
}

.lower-category a {
  font-size: 1.2rem;
  color: orange;
}

.lower-category a:hover {
  border-bottom: solid 2px orange;
}

.lower-title {
  margin: 0.5rem 0;
}

.lower-title a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #464773;
}

.lower-title a:hover {
  color: blue;
}

.lower-date {
  text-align: left;
  color: gray;
}

.lower-date:hover {
  cursor: default;
}

.submit-date {
  margin: 0;
  display: inline-block;
  font-size: 1.2rem;
  color: gray;
}

.load-more {
  width: 100%;
  padding:35px 0;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}

.load-more .btn {
  background-color:rgba(0,128,0,.6);
  color:white;
  border-radius:3px;
  width: 15rem;
  font-size: 1.4rem;
  vertical-align: middle;
  padding:5px 10px;
  text-decoration: none;
  display:inline-block;
}

.load-more .btn:hover{
  background-color: rgba(0,128,0,1);
}

.information {
  background-color: yellow;
  height: 100px;
  margin-bottom: 3rem;
}

.pp-container {
  display: flex;
  width: 100%;
  height: 10rem;
  padding-bottom: 1.5rem;
}

.pp-image {
  width: 40%;
  height: 100%;
  background-color: blue;
  padding: 0 1rem;
}

.pp-title {
  width: 60%;
  height: 100%;
  padding: 0 1rem;
}

.pp-title a {
  color: black;
  font-size: 1.4rem;
}

.pp-title a:hover {
  color: rgb(51, 12, 249);
}

.community-info {
  width: 100%;
  height: 500px;
  background-color: yellow;
  margin-bottom: 3rem;
}

.follow {
  display: flex;
}

.follow-btn {
  width: 4.4rem;
  height: 4.4rem;
  margin-right: 1rem;
}

.fb-btn .circle {
  position: relative;
}

.twitter-btn .circle {
  position: relative;
}

.follow-icon {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 2.2rem;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.follow-icon p {
  margin: 0.8rem;
}

.fb-icon {
  position: absolute;
  background-color: #3b5998;
}

.fb-icon:hover {
  background-color: rgba(23, 56, 217,1);
}

.twitter-icon {
  position: absolute;
  background-color: rgb(29, 161, 242);
}

.twitter-icon:hover {
  background-color:rgba(29, 108, 242,1);
}

footer {
  background-color: black;
  color:white;
  padding: 2rem 0 ;
}

.footer-contents {
  width: 97%;
  margin: 0 auto;
  display: flex;
}

.footer-container {
  width: calc(100% / 3);
  padding: 0 1.5rem;
}

.footer-title {
  border-bottom: solid 1.5px white;
  margin-bottom: 1rem;
}

.footer-title h2{
  margin: 0.7rem 0;
  font-weight: normal;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  padding:0.2rem 0.8rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  background-color: gray;
  color: white;
  margin: 0.1rem 0.1rem;
}

.cate-container {
  display: flex;
  margin-bottom: 1rem;
}

.cate-number {
  background-color: gold;
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 1rem;
  color:black;
  line-height: 2.4rem;
  border-radius: 0.4rem;
}

.cate-item {
  color:white;
  line-height: 2.4rem;
}
