html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}

li a{
  display: inline-block;
  padding: 0 13px;
}

p {
  margin:0;
}

body {
  background-color:#eee;
  font-family: "Open Sans";
  margin: 0 auto;
}

body > header {
  width: 100%;
  background-color: #fff;
}

header i {
  font-size: 1.3rem;
  font-weight: normal;
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
}

.date-container {
  height: 4.0rem;
  text-align: right;
}

.date {
  color: #aaa;
  height: 4rem;
}

.calendar {
  line-height: 4rem;
  font-size: 1.3rem;
}

header > .title {
  border-top: solid 1px rgba(0,0,0,0.15);
  width: 100%;
  height: 120px;
}

.title-bar {
  height: 100%;
  position: relative;
}

.title > .title-bar > a {
  position: absolute;
  top: -1.8rem;
  width:50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header-menu {
  height: 5rem;
  background-color: #464773;
}

.header-menu > .menu-width > ul,
.header-menu > ul {
  height: auto;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-menu .menu-item a{
  display: inline-block;
  height: 1.4rem;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: bold;
}

.header-menu > .menu-width > ul > .menu-item > a,
.header-menu > ul > .menu-item > a {
  color: white;
  padding: 1.7rem 1.3rem;
  transition:.3s;
}

ul > .menu-item {
  position: relative;
}

.suki > a >.fas {
  margin-left: 0.7rem;
  font-size: 1rem;
  display: inline;
}

.sub-menu {
  padding: 0;
  height: 49px;
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);
}

.header-menu > .menu-width > ul > .menu-hover:hover a {
  background-color: white;
  color: #464773;
}

.suki > .sub-menu > .menu-item > a {
  padding-top: 1.6rem;
  transition:.3s;
  opacity: 0.5;
  color: rgba(66,66,66,0.7);
}

.suki:hover > .sub-menu {
  display: block;
}

.suki:hover > .sub-menu > .menu-item > a:hover {
  color: black;
  position: relative;
  left: 5px;
}

#sticky-header {
  display: none;
  width: 100%;
}

.is-fixed {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

#sticky-bar {
  height: 5rem;
  width: 100%;
  background-color: #464773;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#sticky-width {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sticky-logo {
  width: 243px;
}

#sticky-header img {
  height: 100%;
}

#back-icon {
  display: none;
  height: 3.8rem;
  width: 3.8rem;
  position: fixed;
  bottom: 1.4rem;
  right: 2rem;
  background-color: #464773;
  text-align: center;
  -ms-align-items: center;
  align-items: center;
  font-weight: normal;
  border-radius: 3px;
  opacity: 1;
}

#back-icon:hover {
  background-color: #0288d1;
}

#back-icon > a > .fa {
  display: block;
  text-height: 100%;
  vertical-align: middle;
  line-height: 4rem;
  font-size: 2rem;
  color: white;
}

.content {
  background-color: #fff;
  display: flex;
  padding: 4rem 4rem;
  box-sizing: border-box;
}

.content-left {
  width: 76.5%;
  height: auto;
  display: inline-block;
  padding-right: 4rem;
}

.content-right {
  width: 23.5%;
  height: auto;
  display: inline-block;
  padding-left: 0rem;
}

.latest {
  width: 100%;
  height: auto;
}

.heading {
  border-bottom: solid 2px #464773;
  margin-bottom: 1.8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.box h2{
  font-family: lato;
  font-size: 1.5rem;
  color: white;
  background-color: #464773;
  display: inline-block;
  margin:0;
  padding: 0.5rem 1.5rem 0.3rem;
  text-align: center;
  border-radius: 2px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.latest-content {
  width: 100%;
  height: 42rem;
  background-color: black;
  display: flex;
  flex-wrap:wrap ;
  overflow: hidden;
}
.topic-left{
  width: 47%;
}

.topic-right {
  width: 53%;
  display: flex;
  flex-wrap:wrap ;
}

.topic-a a{
  color: white;
}

.topic-b {
  width: 50%;
}

.topic-b h2{
  font-size: 1.4rem;
}

.topic-main {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px black;
  background-image: cover;
}

.topic-sub {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}

thumbnail {/*無効中*/
  overflow: hidden;
  transform: rotate(90deg);
  transform-origin:center;
}

.topic-thumbnail-main {
  position: absolute;
  height: 0;
  width: 100%;
  height:42rem;
}

.topic-thumbnail-sub {
  position: absolute;
  height: 0;
  width: 100%;
  height: 21rem;
}

.latest-content img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.topic-main:hover > a > img{
  opacity: 0.3;
}

.topic-main:hover > .topic-item-main {
  position: absolute;
  bottom: 18rem;
}

.topic-a > .topic-sub:hover > a > img{
  opacity: 0.5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.topic-item-main {
  position: absolute;
  width: 60%;
  left: 3rem;
  bottom: 2rem;
  transition: 0.3s;
}

.topic-item-sub {
  position: absolute;
  width: 90%;
  left:1rem;
  bottom: 2rem;
}

.topic-category {
  width: 100%;
  float: left;
  margin-bottom: 1rem;
}

.topic-category a{
  background-color: rgba(255,69,0,.6);
  display: inline-block;
  color:white;
  font-size: 1.3rem;
  padding:0.1rem 1rem;
  border-radius: 2px
}

.topic-category a:hover {
  background-color: rgba(255,69,0,1);
  font-weight: bold;
}

.topic-title h2{
  font-size: 1.6rem;
  line-height: 2.7rem;
  font-weight: normal;
}

.topic-sub .topic-title h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.add-comment a{
  font-size: 1.2rem;
  line-height: 2.2rem;
  padding-bottom: 0.2rem;
  margin-top: 5px;
}

.add-comment a:hover {
  border-bottom: solid 2px white;
}

.hidden-text {
  position: absolute;
  margin-top: 10px;
  z-index: 100;
}

.hidden-text > p {
  opacity: 0;
  color: #fff;
  font-size: 1.3rem;
  line-height: 2.4rem;
  transition: .5s;
  cursor:default;
}

.topic-main:hover .hidden-text > p {
  opacity: 1;
}

.new-lower{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap:wrap ;
  justify-content: space-around;
  border-bottom: solid 1px rgba(68,68,68,0.2);
}

.container {
  width: 50%;
  height: 10rem;/*適当に指定*/
  margin-bottom: 1.1rem;
  display: flex;
  z-index: 100;
}

.lower-left {
  width: 33%;
  height: 100%;
}

.lower-right {
  width: 67%;
  height: 100%;
}

.lower-category a {
  font-size: 1.2rem;
  color: rgb(255,195,43);
  font-weight: bold;
  margin-bottom: 5px;
  transition: 0.3s;
}

.lower-category a:hover {
  border-bottom: solid 2px rgb(255,195,43);
}

.lower-title {
  margin-bottom: 0.5rem;
}

.lower-title a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #464773;
}

.lower-title a:hover {
  color: blue;
}

.lower-date {
  text-align: left;
  color: rgb(68,68,68);
}

.lower-date:hover {
  cursor: default;
}

.submit-date {
  margin: 0;
  display: inline-block;
  font-size: 1.2rem;
  color: gray;
}

.load-more {
  width: 100%;
  padding:35px 0;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}

.load-more .btn {
  background-color:rgba(0,128,0,.6);
  color:white;
  border-radius:3px;
  width: 15rem;
  font-size: 1.4rem;
  vertical-align: middle;
  padding:5px 10px;
  text-decoration: none;
  display:inline-block;
}

.load-more .btn:hover{
  background-color: rgba(0,128,0,1);
}

.container-right {
  width: 100%;
  margin-bottom: 3.7rem;
}

.image-right > img{
  width: 100%;
}

.pp-container {
  display: flex;
  width: 100%;
  padding-bottom: 1.5rem;
}

.pp-image {
  width: 40%;
}

.pp-image > a {
  display: block;
  width: auto;
  height: auto;
}

.pp-image > a > img {
  width: 100%;
  height: auto;
}

.pp-title {
  width: 60%;
  height: 100%;
  padding: 0 1rem;
}

.pp-title a {
  color: black;
  font-size: 1.4rem;
}

.pp-title a:hover {
  color: rgb(51, 12, 249);
}

.community-info {
  width: 100%;
  margin-bottom: 3rem;
}

table, td, tr {
  border:0.5px solid rgba(68,68,68,0.2);
  border-collapse: collapse;
}

table img {
  width: 100%;
}

table h2 {
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
  padding-bottom: 0;
}

.table-title {
  padding-bottom: 0;
  color:#444;
}

.fb-members {
  text-align: center;
  font-size: 1.1rem;
  padding: 0.8rem 0;
  color:#90949c;
}

.fb-join-btn {
  width: 100%;
  height: 9.5rem;
  background-color: #3b5998;
  color:white;
  display: flex;
  justify-content: space-around; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
}

.fb-join-btn i {
  font-size: 1.7rem;
}

.fb-join-btn p {
  font-size: 1.3rem;
  font-weight: bold;
  padding-right: 5rem;
}

.fb-join-btn:hover {
  opacity: 0.8;
}

.fb-join-btn:hover > div {
  position: relative;
  top: 2px;
  left: 2px;
}

tr > .blank {
  height: 2.8rem;
  line-height: 2.8rem;
}

td {
  padding: 10px 15px;
}

.group-comment {
  font-size: 1.2rem;
}

.follow {
  display: flex;
}

.follow-btn {
  width: 4.4rem;
  height: 4.4rem;
  margin-right: 1rem;
}

.fb-btn .circle {
  position: relative;
}

.twitter-btn .circle {
  position: relative;
}

.follow-icon {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 2.2rem;
  text-align: center;
  font-size: 1.6rem;
  color: white;
  transition: 0.3s;
}

.follow-icon p {
  margin: 1rem;
}

.fb-icon {
  position: absolute;
  background-color: #3b5998;
}

.fb-icon:hover, .twitter-icon:hover {
  opacity: 0.8;
}

.twitter-icon {
  position: absolute;
  background-color: rgb(29, 161, 242);
}

.footer-main {
  background-color: #222;
  color:#ddd;
  padding: 3.3rem 3rem;
  box-sizing: border-box;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
}

.footer-container {
  width: 31.5%;
  font-size: 1.5rem;
}

.footer-container > .footer-title {
  border-bottom: solid 1.5px rgba(221,221,221,0.1);
  margin-bottom: 1.8rem;
  font-size: 1rem;
  font-weight: 900;
}

.footer-title h2{
  margin: 0.7rem 0;
}

.footer-container img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  height: 2.7rem;
  padding:0.2rem 1rem;
  margin: 0.2rem 0.21rem;
  border-radius: 0.2rem;
  background-color: rgba(221,221,221,0.1);
  display: wrap;
  justify-content: center;
  align-items: center;
}

.tag > a {
  height: 100%;
  display: block;
  font-size: 1.4rem;
  color: #ddd;
  line-height: 2.7rem;
}

.tag:hover {
  background-color: #0288d1;
  color:white;
}

.cate-container > ul {
  padding: 0;
}

.cate-container > ul > li > ul {
  padding-left: 1rem
}

.cate-container > ul > li > .cate-number-item,
.cate-container > ul > li > ul > li > .cate-number-item {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.cate-number {
  height: 2.4rem;
  width: 3rem;
  margin-right: 1rem;
  text-align: center;
  color:black;
  line-height: 2.4rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
}

.cate-skill-up .cate-number {
  background-color: gold;
}

.cate-member .cate-number {
  background-color: blue;
}

.find-favorite-thing .cate-number {
  background-color: orange;
}

.cate-job .cate-number {
  background-color: green;
}

.cate-item > a{
  color:white;
  line-height: 2.4rem;
}

.cate-item > a{
  transition: 0.3s;
}

.cate-item > a:hover {
  position: relative;
  left: 5px;
}

.cate-skill-up .cate-item > a:hover {
  position: relative;
  left: 5px;
  color: gold;
}

.cate-member .cate-item > a:hover {
  position: relative;
  left: 5px;
  color: blue;
}

.find-favorite-thing .cate-item > a:hover {
  position: relative;
  left: 5px;
  color: orange;
}

.cate-job .cate-item > a:hover {
  position: relative;
  left: 5px;
  color: green;
}

.footer-bottom {
  width: 100%;
  font-size: 1.4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 3.5rem;
  background-color: black;
  color:white;
  height: 4rem;
  display:flex;
  align-items: center;     /*上下中央揃え*/
}
