body {
  background-color:#eeeeee;
  color:#444444
  font-family: "Open Sans";
  font-weight: 400;
}

header {
  width: 1406px;
}

.date-container {
  height: 40px;
}

.date {
  color: #aaaaaa;
}

.fa-calendar :before {
  content: "\f073"
}

.title {
  height: 120px;
}

.header-menu {
  height: 50px;
}

li .menu-item {
  list-style: none;
  float: left;
  font-size: 16px;
}
